@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
    display: flex;
}

/*ScrollBar Width*/
body::-webkit-scrollbar {
  width: 5px;
}

/*ScrollBar Track*/
body::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
}

h1,h2,h3,.pbtn {
  font-family: monospace;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.content {
  width: 100vw;
  overflow: hidden;
}

/*Header*/
.header {
  min-height: 100vh;
  min-width: 100%;
  display: table;
  background: black;
}

#center-content {
  min-height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#center-content h1 {
  font-family: monospace;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  color: white;
}

#center-content h2 {
  font-family: monospace;
  color: white;
}

.timelineOverflow {
	max-height: 500px;
	overflow-y: scroll;
}


/*---Media Queries --*/
@media (max-width: 1200px) {
	.jumbotron h1 {
		font-size: 7em;
	}
	.jumbotron h3 {
		font-size: 3em;
	}
  }
@media (max-width: 992px) {
	.jumbotron h1 {
		font-size: 7em;
	}
	.jumbotron h3 {
		font-size: 3em;
	}
  }
@media (max-width: 768px) {
  .jumbotron h1 {
		font-size: 5em;
	}
	.jumbotron h3 {
		font-size: 2em;
	}
}
@media (max-width: 576px) {
	.jumbotron h1 {
		font-size: 3em;
	}
	.jumbotron h3 {
		font-size: 1em;
	}
}




/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
