@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

body {
  display: flex;
}

/* ScrollBar */

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 #222222;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #239023;
}

/* End of ScrollBar */

/* Overall Font Properties */

h1,h2,h3,.pbtn {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  color: white;
}

/* End of Overall Font Properties */

.content {
  width: 100vw;
  overflow: hidden;
}

/* NavBar */

.navbar {
  background: white;
  font-size: 15px;
}

.dropdown-item {
  padding: 0;
}

.dropdown-item:hover {
  background: white;
}

.nav-item a {
  color: #239023;
}

.nav-item a:hover {
  color: #196719;
}

.fa-bars {
  color: #239023;
}

.fa-bars:hover {
  color: #196719;
}

html {
  scroll-behavior: smooth;
}

/* Header */

.header_image {
  background:url('images/binary_background.jpg');
  background-size: cover;
}

.header {
  min-height: 100vh;
  min-width: 100%;
  display: table;
  background-color: rgba(35, 144, 35, 0.7);
}

.center-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}



.center-content h1 {
  font-size: 50px;
  padding-bottom: 5px;
  border-bottom: 2px solid white;
  color: white;
}

.center-content h2 {
  font-size: 35px;
  color: white;
}

/* End Header */

.body-container {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 100%;
  background-color: #333333;
  color: #white:
}

/* Info */

.section-title {
  font-size: 45px;
  text-align: center;
  width: 90%;
  padding-bottom: 10px;
  margin-bottom: 15px
  color: white;
  border-bottom: 2px solid white;
}

.info {
  padding-top: 20px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* About Me */

#about{
  font-weight: bold;
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100vw;
  background: inherit;
  display: inline-block;
}

.row {
  width: 90%;
  margin: 0;
  margin-top: 20px;
}

#aboutRow{
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 6px;
  background: #222222;
}

.about-col {
  display: block;
  height: fit-content;
}

#aboutLeftCol h2 {
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-left: 5px;
  margin-bottom: 10px;
}

#aboutLeftCol .panel {
  background: #222222;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

#aboutLeftCol .panel p {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #adadad;
}

#selfImage {
  max-width: 500px;
  margin: auto;
}

#aboutMidCol .panel {
  background: #222222;
  padding-left: 15px;
  padding-top: 20px;
  padding-right: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

#aboutRightCol h2 {
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-left: 5px;
  margin-bottom: 10px;
}

#aboutRightCol .panel p {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  font-weight: 300;
  color: #adadad;
}

#aboutRightCol .panel {
  background: #222222;
  border-radius: 6px;
  padding-top: 20px;
  margin-bottom: 10px;
}

#aboutStudent, #aboutDev, #aboutPerson, #aboutSkills {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#skillsRow {
  background: #222222;
  border-radius: 6px;
}

#skillsRow h2 {
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-left: 5px;
  margin-bottom: 10px;
}

#skillsRow .panel {
  padding-top: 20px;
  padding-bottom: 1px;
  margin-bottom: 10px;
}

#aboutSkills h3 {
  font-size: 18px;
  font-weight: 300;
  padding-left: 5px;
  color: #239023;
}

#aboutSkills ul {
  list-style-type: none;
  padding-left: 20px;
}

#aboutSkills li {
  display: inline-block;
  font-size: 15px;
  font-weight: 200;
  min-width: 100px;
  padding: 8px;
  margin-bottom: 10px;
  line-height: 20px;
  text-align: center;
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #ADADAD;
  color: #ADADAD;
}

/* End of About Me */

/* Timeline */

#timeline{
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  width: 100vw;
  background: inherit;
  display: inline-block;
}

#timeline_row {
  color: #239023;
  justify-content: center;
}

.tl-col {
  display: block;
  height: fit-content;
}

.education, .education_col {
  color: #A81717;
}

.professional, .professional_col {
  color: #1756A8;
}

.event, .event_col {
  color: #8817A8;
}

.misc, .misc_col {
  color: #A87817;
}

#updates_key {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 6px;
  justify-content: center;
  color: #239023;
}

#updates_key .education_col, #updates_key .professional_col, #updates_key .event_col, #updates_key .misc_col {
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  text-align: center;
  width: fit-content;
}

#updates_key button {
  padding: 5px;
  min-width: 150px;
  border-style: solid;
  border-radius: 6px;
  border-width: 2px;
  border-color: #222222;
  background: #222222;
  color: inherit;
  text-decoration: none;
}

#updates_key button.deselected {
  border-color: inherit;
  background: #333333;
}

#updates_key button:focus {
  outline: 0;
}

.sub-header {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

#tlLeftCol h2 {
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-left: 5px;
}

#tlLeftCol .panel {
  background: #222222;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
}

#tlMidCol h2 {
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-left: 5px;
}

#tlMidCol .panel {
  background: #222222;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
}

#tlRightCol h2 {
  font-size: 25px;
  border-bottom: 2px solid white;
  padding-left: 5px;
}

#tlRightCol .panel {
  background: #222222;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 400px;
}

#past, #present, #future {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 1px;
}

.updates {
  max-height: 300px;
  overflow-y: scroll;
}

.updates::-webkit-scrollbar {
  width: 5px;
}

.updates::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #222222;
}

.updates::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #239023;
}

.dropdown {
  padding: 0;
  margin: 0;
}

.updates li {
  display: flex;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

.updates li .eventDesc {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  padding-left: 20px;
}

.updates li:hover {
  background: #1A1A1A;
}

.updates .date {
  font-weight: 300;
  font-size: 15px;
  min-width: 150px;
}

.updates .title {
  font-weight: 300;
  color: #ADADAD;
}

.updates li .eventDesc .details {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: visibility 0s, opacity.7s, maxheight 0.8s linear;
}

.updates .details::before {
  content: '';
}

.updates ul li {
  margin: 2em 0;
  padding-left: 30px;
  padding-right: 10px;
}

.updates li:hover .details {
  visibility: visible;
  opacity: 1;
  color: #239023;
  font-weight: 100;
  font-size: 14px;
  max-height: 300px;
  padding-top: 2px;
  transition: visibility 0s, opacity.7s, maxheight 0.8s linear;
}

/* End of Timeline */

/* Past Projects */
#projects {
  margin: auto;
  margin-top: 50px;
  padding-bottom: 20px;
  height: fit-content;
  width: 100vw;
  background: inherit;
}

.projectList {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.project-panel {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 350px;
  border-radius: 6px;
  background: #222222;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.projectImages_col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.projectImages {
  margin-top: 50px;
  margin-bottom: 50px;
  width: auto;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;

  outline-style: solid;
  outline-width: 2px;
  outline-color: white;
}

.carousel-item img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
}

.carousel-indicators {
  padding-bottom: 15px;
}

.projectDesc h1 {
  font-size: 40px;
  font-family: monospace;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.projectDesc h3 {
  font-size: 20px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: #239023
}

.project_date {
  padding-bottom: 15px;
  border-bottom: white 2px solid;
}

.projectContent > .projectDesc {
  text-align: left;
  padding-bottom: 15px !important;
}

.projectDesc p {
  padding: 5px;
  padding-left: 10px;
  margin: 10px;
  font-size: 15px;
  font-weight: 200;
  color: #ADADAD;
}

.projectDesc .projectTechs {
  border-top: white 2px solid;
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 15px;
}

/* End of Past Projects */

/* Documents & Links */

#documents {
  margin-top: 50px;
}

.documents-header {
  font-weight: bold;
  margin: auto;
  height: fit-content;
  width: 100vw;
  background: inherit;
}

#links {
  padding-top: 10px;
}

#links ul {
  padding: 0;
  text-align: center;
}

#links li {
  width: 25%;
  display: inline-block;
  vertical-align: bottom;
}

#links a {
  text-decoration: none;
}

#links a:hover > h3 {
  color: #999999;
}

#links a:hover > .fa-file {
  color: #196719;
}

#links a:hover > .fa-linkedin-in {
  color: #196719;
}

.fa-file {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #239023;
}

.fa-linkedin-in {
  font-size: 70px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #239023;
}

#links h3 {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

/* End of Documents & Links */

/* Contact Me */

#contact {
  margin-top: 50px;
  margin-bottom: 50px;
}

.contact-header {
  margin: auto;
  height: fit-content;
  width: 100vw;
  background: inherit;
}

.contact-panel {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: 800px;
  border-radius: 6px;
  background: #222222;
  display:flex;
  justify-content: center;
}

#contact-form {
  display:inline-block;
  margin: 5% 10% 5% 10%;
  width: 100%;
}

#email-input {
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #239023;
  background: #333333;
  color: white;
}

#email-input:focus {
  outline: 0 none;
}

#message-input::-webkit-scrollbar {
  width: 5px;
}

#message-input::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #222222;
}

#message-input::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #239023;
}

#message-input::-webkit-scrollbar-corner {
  background: #239023;
}

#message-input {
  resize: none;
  font-size: 15px;
  color: white;
  width: 100%;
  height: 200px;
  margin-bottom: 18px;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: #239023;
  background: #333333;
}

#message-input:focus {
  outline: 0 none;
}

#contact-button {
  font-size: 20px;
  color: white;
  width: 100%;
  padding: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  border-color: white;
  background: #239023;
}

#contact-button:focus {
  outline: 0 none;
  color: #239023;
  border-color: #239023;
  background: #333333;
}

/*End of Contact Me */

/* Footer */

#back_to_top {
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
  background: #333333;
}

#copyright {
  font-size: 75%;
  padding-top: 15px;
  padding-right: 10px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  background: white;
  color: #239023;
}
